@import '../variables';

#shape-tools {
    .section {
        .monofont {
            font-family: $monospaceFont;
        }

        .tool-appearance {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            &.hide {
                display: none;
            }

            .cloud-item {
                span {
                    font-size: 18px;
                }
            }

            .comp-dash-layout {
                margin-top: 8px;
                margin-left: 8px;
            }
        }
    }
}
