@import '../variables';

.shape-tools {
    .section {
        .monofont {
            font-family: $monospaceFont;
        }

        .tool-appearance {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            .tool-title {
                margin-bottom: 4px;
            }

            &.hide {
                display: none;
            }

            .cloud-item {
                span {
                    font-size: 18px;
                }
            }

            .comp-dash-layout {
                margin-top: 8px;
                margin-left: 8px;
            }

            .border-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                column-gap: 16px;
            }

            .corner {
                border: none;
                opacity: 0.75;
                padding: 2px;

                &:hover,
                &.selected:hover {
                    opacity: 1;
                    outline: 1px solid var(--text-input-border-color);
                }

                &.selected {
                    opacity: 1;
                    outline: none;
                }
            }
        }
    }
}
