@import '../variables';
@import '../commons';

.shape-tools {
    .section {
        .tool-title {
            font-size: 12px;
            user-select: none;
            color: var(--shapetool-tool-title-color);
        }
    }
}
