.shape-tools {
    .section {
        .tool-text {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                align-items: center;
                padding-bottom: 8px;

                .tool-title {
                    width: 60px;
                }
            }
        }
    }
}
