#shape-tools {
    .section {
        .transform-grid {
            display: flex;
            flex-wrap: wrap;

            .cell {
                display: flex;
                align-items: center;
                width: 50%;
                padding: 0 32px 12px 0;
            }

            .tool-input-text {
                margin-left: 8px;
            }
        }
    }
}