.shape-tools {
    .section {
        .transform-grid {
            display: flex;
            flex-wrap: wrap;

            .cell {
                width: 50%;
                padding: 0 8px 12px 0;
            }

            .cell:nth-child(even) {
                padding: 0 0 12px 8px;
            }
        }
    }
}
