{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteStrictMode": true,
    "svelteIndentScriptAndStyle": false,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
