.toolbar-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;

    &.add-space-left {
        margin-left: 4px;
    }

    &.add-space-right {
        margin-right: 4px;
    }

    .app-icon-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .app-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 8px;
        width: 28px;
        height: 28px;
        cursor: pointer;

        &:hover {
            background: var(--header-main-menu-hover-bg);
        }

        &:first-child {
            margin-left: 0;
        }
    }

    .theme-dark-mode {
        :root.dark &{
            display: none;
        }
    }

    .theme-light-mode {
        :root.light & {
            display: none;
        }
    }
}
