@import '../variables';
@import '../commons';

$conten-color: var(--header-color);
$bg-color: var(--header-bg);

#main-nav {
    display: flex;
    justify-content: space-between;
    background: $bg-color;
    color: $conten-color;
}

#nav-left {
    @extend %common-flex-center-vertical;
    padding-left: 16px;

    .main-title {
        margin: 0;

        a {
            font-size: 22px;
            letter-spacing: 0.2px;
            font-family: $monospaceFont;
            font-weight: 400;
            line-height: 18px;
            text-decoration: none;
            color: $conten-color;

            &:hover,
            &:active {
                color: $conten-color;
            }
        }
    }
}

#nav-toolbar-center {
    @extend %common-flex-center-vertical;

    flex-grow: 1;
    justify-content: center;
}

#nav-toolbar-right {
    @extend %common-flex-center-vertical;

    padding: 0 8px;

    .app-main-menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: var(--header-main-menu-hover-bg);
        }
    }

    .theme-icon {
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        margin-right: 8px;
        
        &:hover {
            background: var(--header-main-menu-hover-bg);
        }
    }

    .theme-dark-mode {
        :root.dark &{
            display: none;
        }
    }

    .theme-light-mode {
        :root.light & {
            display: none;
        }
    }
}

#main-dropdown-menu {
    width: 160px;
    right: 8px;
    top: 48px;
}