@import '../variables';
@import '../commons';

$conten-color: var(--header-color);
$bg-color: var(--header-bg);

#main-nav {
    display: flex;
    justify-content: space-between;
    background: $bg-color;
    color: $conten-color;
}

#nav-brand {
    @extend %common-flex-center-vertical;
    padding-left: 16px;

    .main-title {
        margin: 0;

        a {
            font-size: 22px;
            letter-spacing: 0.2px;
            font-family: $monospaceFont;
            font-weight: 400;
            line-height: 18px;
            text-decoration: none;
            color: $conten-color;

            &:hover,
            &:active {
                color: $conten-color;
            }
        }
    }
}

#nav-toolbar {
    @extend %common-flex-center-vertical;
    flex-grow: 1;
    justify-content: space-between;

    padding: 0 8px;
}
