@import '../variables';

$border-radius: 4px;

.main-mouse-actions {
    display: flex;
    height: 100%;
    margin-left: 8px;

    .action-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .action-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 32px;
        border-radius: 6px;
        margin-left: 6px;
        border: 1px solid transparent;
        cursor: pointer;
        user-select: none;

        &:hover {
            background: var(--nav-action-hover-bg);
        }

        &.selected {
            border-color: var(--nav-action-selected-border);
        }
    }
}
