@import '../variables';
@import '../commons';

$border-radius: 4px;

.middle-toolbar-container {
    display: flex;
    height: 100%;
}

.main-mouse-actions {
    display: flex;
    height: 100%;

    &>.action-button {
        @extend %common-button;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 58px;

        &:hover {
            background: var(--header-mouse-action-hover-bg);
        }

        &.selected {
            background: var(--header-mouse-action-selected-bg);
        }
    }
}
