html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 0;
  height: 0;
}

#header-layout {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  flex-direction: row;
}
#header-layout > .nav-brand {
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 32px;
  padding-top: 10px;
}
#header-layout h2 {
  font-size: 20px;
  letter-spacing: 0.2px;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
  font-weight: 500;
  line-height: 18px;
}

#header-toolbar {
  width: 100%;
  height: 100%;
  display: flex;
}

.toolbar {
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}
.toolbar.middle {
  margin: 0px 20px;
  width: 100%;
}
.toolbar.middle .retainable-action-group .btn {
  width: 65px;
}
.toolbar.right {
  margin: 0px 8px;
}
.toolbar.right ul.dropdown-menu a.dropdown-item {
  cursor: pointer;
}
.toolbar.right #right-toolbar-dropdown-menu {
  border: none;
  width: 30px;
  height: 30px;
}
.toolbar.right #right-toolbar-dropdown-menu:hover, .toolbar.right #right-toolbar-dropdown-menu:active {
  background: none;
  color: #252525;
}
.toolbar .btn.toolbar-btn {
  padding: 0.15rem 0.5rem;
  height: 31px;
}

#workspace {
  width: 100%;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;
  position: absolute;
}

.canvas-layout {
  left: 0;
  top: 0;
  bottom: 0;
  right: 270px;
  position: absolute;
}

#monoboard-canvas-container {
  left: 33px;
  top: 18px;
  right: 0;
  bottom: 0;
  position: absolute;
}
#monoboard-canvas-container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#monoboard-axis-container {
  width: 100%;
  height: 100%;
}

#workspace > #shape-tools {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.modal-edit-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #00000000;
}
.modal-edit-text .modal-edit-text-container {
  position: absolute;
  left: 33px;
  top: 82px;
  right: 0;
  bottom: 0;
}
.modal-edit-text .modal-edit-text-area-container {
  position: absolute;
  background-color: #fff;
}
.modal-edit-text .modal-edit-text-area-container .modal-edit-text-area {
  position: absolute;
  left: 1px;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.2px;
}
.modal-edit-text .modal-edit-text-area-container .modal-edit-text-area:focus {
  outline: none;
}

.monofont {
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
}

.shape-tools {
  width: 270px;
  height: 100%;
  border-left: 1.5px solid #BBB;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, serif;
  font-size: 12px;
  overflow-y: scroll;
}
.shape-tools > .tsection {
  border-top: 0.75px solid #BBB;
}
.shape-tools > .tsection:first-child {
  border-top: none;
}

.tsection {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px 10px;
}
.tsection.small-space {
  padding-top: 4px;
  padding-bottom: 4px;
}

.tsection-title {
  font-weight: 300;
  font-size: 11px;
  color: #616161;
  margin-bottom: 10px;
  user-select: none;
}

.tool {
  display: flex;
  flex-direction: column;
}

.add-bottom-space {
  margin-bottom: 12px;
}

.add-right-space {
  margin-right: 8px;
}

.tool-title {
  font-size: 12px;
  user-select: none;
}

.trow {
  display: flex;
  flex-direction: row;
}
.trow.center-even-space {
  align-items: center;
  justify-content: space-evenly;
}
.trow.center-vertical {
  align-items: center;
}
.trow.grid {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.trow.grid > * {
  margin-top: 6px;
  margin-right: 6px;
}

.button, .icon-button {
  padding: 4px;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.button:hover, .icon-button:hover {
  background: #eeeeee;
}
.button:active, .icon-button:active {
  background: #e0e0e0;
}
.button:disabled, .icon-button:disabled, .button.disabled, .disabled.icon-button {
  background: #00000000;
  cursor: default;
}

.icon-button {
  color: #000000;
  padding: 8px;
}
.icon-button.disabled, .icon-button:disabled {
  color: #aaa;
}
.icon-button.small, .icon-button.medium {
  border: 1px solid #DDDDDD;
  background: #FFF;
}
.icon-button.small.disabled, .icon-button.small:disabled, .icon-button.medium.disabled, .icon-button.medium:disabled {
  border-color: #eaeaea;
}
.icon-button.small.selected, .icon-button.medium.selected {
  border-color: #0091ff;
}
.icon-button.small.selected:hover, .icon-button.medium.selected:hover {
  border-color: #0074cc;
}
.icon-button.small.selected.disabled, .icon-button.small.selected:disabled, .icon-button.medium.selected.disabled, .icon-button.medium.selected:disabled {
  border-color: #c4c4c4;
}
.icon-button.small:hover, .icon-button.medium:hover {
  border-color: #c4c4c4;
}
.icon-button.small:active, .icon-button.medium:active {
  background: #fafafa;
}
.icon-button.small {
  width: 20px;
  height: 26px;
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.icon-button.medium {
  padding: 6px;
}
.icon-button.selected {
  background: #FFFFFF;
}

.tcolumn.half {
  width: 50%;
}
.tcolumn.quarter {
  width: 30%;
}

.inline-title {
  display: inline-block;
  font-size: 11px;
  user-select: none;
}
.inline-title.short {
  width: 10px;
}

.tool-input-text {
  height: 24px;
  margin-left: 4px;
  border: none;
  border-bottom: 1px solid #AAA;
  background: #0000;
  font-size: 12px;
}
.tool-input-text:focus {
  outline: none;
  border-bottom: 1px solid #03a9f4;
}
.tool-input-text.small {
  width: 30px;
}
.tool-input-text.medium {
  width: 60px;
}
.tool-input-text:disabled {
  color: #999;
  border-color: #DDD;
}

.tool-input-checkbox {
  margin-top: 2px;
}

.hide {
  display: none;
}

.clickable {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
