html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
#root {
    width: 100%;
    height: 100%;
}
#monoboard-canvas-container {
    width: 100%;
    height: 100%;
}
#monoboard-canvas-container > canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.modal-textarea-container {
    background: #fff;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.5);
    overflow: scroll;
    padding: 8px 10px;
}
.modal-textarea-container > .modal-textarea {
    outline: none;
}
.monomodal-mono-edit-text {
    font-family: monospace;
}
