@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&family=Roboto:wght@300;400&display=swap");
.button, .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}
.button:hover, .icon-button:hover {
  background: #eeeeee;
}
.button:active, .icon-button:active {
  background: #e0e0e0;
}
.button:disabled, .icon-button:disabled, .button.disabled, .disabled.icon-button {
  background: #00000000;
  cursor: default;
}

.button-group {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 3.5px;
  border: 1px solid #555;
}
.button-group .button, .button-group .icon-button {
  border-left: 1px solid #555;
  color: #555;
  padding: 2px 4px;
}
.button-group .button:first-child, .button-group .icon-button:first-child {
  border-left: none;
}
.button-group .button:hover, .button-group .icon-button:hover {
  background: #626262;
  color: #fff;
}
.button-group .button.selected, .button-group .selected.icon-button {
  background: #555;
  color: #fff;
}

input {
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  font-family: "Roboto", Arial, serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 0;
  height: 0;
}

#header-layout {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  flex-direction: row;
}
#header-layout > .nav-brand {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 32px;
}
#header-layout h2 {
  font-size: 20px;
  letter-spacing: 0.2px;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
}

#header-toolbar {
  width: 100%;
  height: 100%;
  display: flex;
}

.toolbar {
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}
.toolbar.middle {
  margin: 0px 20px;
  width: 100%;
}
.toolbar.right {
  margin: 0px 8px;
}
.toolbar.right ul.dropdown-menu a.dropdown-item {
  cursor: pointer;
}
.toolbar.right #right-toolbar-dropdown-menu {
  border: none;
  width: 30px;
  height: 30px;
}
.toolbar.right #right-toolbar-dropdown-menu:hover, .toolbar.right #right-toolbar-dropdown-menu:active {
  background: none;
  color: #252525;
}
.toolbar .retainable-action-group {
  height: 31px;
}
.toolbar .retainable-action-group > .button, .toolbar .retainable-action-group > .icon-button {
  width: 65px;
  padding: 0;
  box-sizing: content-box;
}

#workspace {
  width: 100%;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
  position: absolute;
}

.canvas-layout {
  left: 0;
  top: 0;
  bottom: 0;
  right: 270px;
  position: absolute;
}

#monoboard-canvas-container {
  left: 33px;
  top: 18px;
  right: 0;
  bottom: 0;
  position: absolute;
}
#monoboard-canvas-container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#monoboard-axis-container {
  width: 100%;
  height: 100%;
}

#workspace > #shape-tools {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.drop-down-menu {
  z-index: 203;
  background: white;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  padding: 6px 0;
  position: absolute;
}
.drop-down-menu .hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -100000px;
}
.drop-down-menu .drop-down-divider {
  border-top: 1px solid #d0d7de;
  margin: 8px 0;
}
.drop-down-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drop-down-menu .drop-down-item {
  padding: 5px 8px 5px 16px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  color: #24292f;
  white-space: nowrap;
  font-size: 14px;
  line-height: 21px;
}
.drop-down-menu .drop-down-item:hover {
  background: #f0f0f0;
}
.drop-down-menu .drop-down-item:last-child {
  border-bottom: none;
}

.main-menu {
  width: 160px;
  right: 8px;
  top: 48px;
}

.modal-edit-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 202;
  background-color: #00000000;
}
.modal-edit-text .modal-edit-text-container {
  position: absolute;
  left: 33px;
  top: 82px;
  right: 0;
  bottom: 0;
}
.modal-edit-text .modal-edit-text-area-container {
  position: absolute;
}
.modal-edit-text .modal-edit-text-area-container .modal-edit-text-area {
  position: absolute;
  left: 1px;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.2px;
}
.modal-edit-text .modal-edit-text-area-container .modal-edit-text-area:focus {
  outline: none;
}

.keyboard-shortcuts, .export-text .export-text__modal {
  background: #f3f3f3;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-title, .export-text div.export-text__modal .export-text__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.68);
}

.keyboard-shortcuts .keyboard-shortcuts__close, .export-text div.export-text__modal .export-text__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  cursor: pointer;
  color: #666;
  vertical-align: middle;
  line-height: 16px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes moveIn {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}
.export-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 201;
}
.export-text.in .background {
  animation: fadeIn 0.3s;
}
.export-text.in .export-text__modal {
  animation: moveIn 0.3s, fadeIn 0.3s;
}
.export-text.out .background {
  animation: fadeOut 0.3s;
}
.export-text.out .export-text__modal {
  animation: moveOut 0.3s, fadeOut 0.3s;
}
.export-text .background {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.export-text div.export-text__modal {
  top: 100px;
  background: #fff;
}
.export-text div.export-text__modal .export-text__title {
  display: block;
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.export-text div.export-text__modal .export-text__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
}
.export-text div.export-text__modal .export-text__content .export-text__copy {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.export-text div.export-text__modal .export-text__content .export-text__copy:hover {
  color: rgba(0, 0, 0, 0.6);
}
.export-text div.export-text__modal .export-text__content .export-text__copy:active {
  color: rgba(0, 0, 0, 0.4);
}
.export-text div.export-text__modal .export-text__content pre {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 32px;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  outline: none;
}

.monofont {
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
}

.shape-tools {
  width: 270px;
  height: 100%;
  border-left: 1.5px solid #BBB;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, serif;
  font-size: 12px;
}
.shape-tools .shape-tools__body {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.shape-tools .shape-tools__body > .tsection {
  border-top: 0.75px solid #BBB;
}
.shape-tools .shape-tools__body > .tsection:first-child {
  border-top: none;
}
.shape-tools .shape-tools__footer {
  padding: 10px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.shape-tools .shape-tools__footer > a {
  line-height: 14px;
  font-size: 14px;
  text-decoration: none;
  color: #aaa;
}
.shape-tools .shape-tools__footer > a:hover {
  color: #888;
}
.shape-tools .shape-tools__footer > a:active {
  color: #999;
}

.tsection {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px 10px;
}
.tsection.small-space {
  padding-top: 4px;
  padding-bottom: 4px;
}

.tsection-title {
  font-weight: 300;
  font-size: 11px;
  color: #616161;
  margin-bottom: 10px;
  user-select: none;
}

.tool {
  display: flex;
  flex-direction: column;
}
.tool.no-check-box {
  margin-left: 21px;
}

.add-bottom-space {
  margin-bottom: 12px;
}

.add-right-space {
  margin-right: 8px;
}

.tool-title {
  font-size: 12px;
  user-select: none;
}

.trow {
  display: flex;
  flex-direction: row;
}
.trow.center-even-space {
  align-items: center;
  justify-content: space-evenly;
}
.trow.center-vertical {
  align-items: center;
}
.trow.grid {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.trow.grid > * {
  margin-top: 6px;
  margin-right: 6px;
}
.trow .button, .trow .icon-button {
  border-radius: 3px;
}

.icon-button {
  color: #000000;
  padding: 8px;
}
.icon-button.disabled, .icon-button:disabled {
  color: #aaa;
}
.icon-button.small, .icon-button.medium {
  border: 1px solid #DDDDDD;
  background: #FFF;
}
.icon-button.small.disabled, .icon-button.small:disabled, .icon-button.medium.disabled, .icon-button.medium:disabled {
  border-color: #eaeaea;
}
.icon-button.small.selected, .icon-button.medium.selected {
  border-color: #0091ff;
}
.icon-button.small.selected:hover, .icon-button.medium.selected:hover {
  border-color: #0074cc;
}
.icon-button.small.selected.disabled, .icon-button.small.selected:disabled, .icon-button.medium.selected.disabled, .icon-button.medium.selected:disabled {
  border-color: #c4c4c4;
}
.icon-button.small:hover, .icon-button.medium:hover {
  border-color: #c4c4c4;
}
.icon-button.small:active, .icon-button.medium:active {
  background: #fafafa;
}
.icon-button.small {
  width: 20px;
  height: 26px;
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.icon-button.medium {
  padding: 6px;
}
.icon-button.selected {
  background: #FFFFFF;
}

.tcolumn.half {
  width: 50%;
}
.tcolumn.quarter {
  width: 30%;
}

.inline-title {
  display: inline-block;
  font-size: 11px;
  user-select: none;
}
.inline-title.short {
  width: 10px;
}

.tool-input-text {
  height: 24px;
  margin-left: 4px;
  border: none;
  border-bottom: 1px solid #AAA;
  background: #0000;
  font-size: 12px;
}
.tool-input-text:focus {
  outline: none;
  border-bottom: 1px solid #03a9f4;
}
.tool-input-text.small {
  width: 38px;
}
.tool-input-text.medium {
  width: 60px;
}
.tool-input-text:disabled {
  color: #999;
  border-color: #DDD;
}

.tool-input-checkbox {
  margin-top: 2px;
}

.hide {
  display: none;
}

.clickable {
  cursor: pointer;
}

.gray-text {
  color: #a0a0a0;
}

.indicator-text {
  font-size: 13px;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
  color: #888;
  font-weight: 300;
  display: block;
  text-align: center;
  margin: 60px 8px;
}

.mono-tooltip.bottom::after, .mono-tooltip.top::after, .mono-tooltip.right::after, .mono-tooltip.left::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.mono-tooltip {
  position: absolute;
  z-index: 204;
  background: #000000DD;
  color: #fff;
  padding: 2px 8px 1px;
  border-radius: 4px;
  font-size: 11px;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
}
.mono-tooltip.left {
  margin-left: -5px;
}
.mono-tooltip.left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent #000000DD;
}
.mono-tooltip.right {
  margin-left: 5px;
}
.mono-tooltip.right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent #000000DD transparent transparent;
}
.mono-tooltip.top {
  margin-top: -5px;
}
.mono-tooltip.top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #000000DD transparent transparent transparent;
}
.mono-tooltip.bottom {
  margin-top: 5px;
}
.mono-tooltip.bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #000000DD transparent;
}

.keyboard-shortcuts, .export-text .export-text__modal {
  background: #f3f3f3;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-title, .export-text div.export-text__modal .export-text__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.68);
}

.keyboard-shortcuts .keyboard-shortcuts__close, .export-text div.export-text__modal .export-text__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  cursor: pointer;
  color: #666;
  vertical-align: middle;
  line-height: 16px;
}

.keyboard-shortcuts {
  height: 230px;
  z-index: 200;
}
.keyboard-shortcuts .keyboard-shortcuts__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  font-family: "Fira Code", Menlo, "Courier New", Courier, monospace;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list {
  table-layout: auto;
  font-size: 14px;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list tr.space {
  height: 10px;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list tr {
  line-height: 26px;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list td {
  white-space: nowrap;
  padding: 0px 6px 2px;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list td:first-child {
  width: 1%;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list td:last-child {
  width: 99%;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list .key {
  display: inline-block;
  text-align: center;
  padding: 3px 4px;
  min-width: 24px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.2;
  margin-right: 4px;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list .key.bold {
  font-weight: bold;
}
.keyboard-shortcuts .keyboard-shortcuts__content .keyboard-shortcuts__content-list .description {
  font-weight: 300;
  line-height: 15px;
}

/*# sourceMappingURL=main.css.map */
