html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header-layout {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: row;
}

#header-layout > .nav-brand {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 32px;
    padding-top: 10px;
}

#header-layout h2 {
    font-size: 20px;
    letter-spacing: 0.2px;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight: 600;
}

#header-toolbar {
    width: 100%;
    height: 100%;
    display: flex;
}

.toolbar {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}

.toolbar.middle {
    margin: 0px 20px;
    width: 100%;
}

.toolbar.middle .retainable-action-group .btn{
    width: 65px;
}

.toolbar.right {
    margin: 0px 20px;
}

#monoboard-canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#monoboard-canvas-container > canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.modal-textarea-container {
    background: #fff;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.5);
    overflow: scroll;
    padding: 8px 10px;
}
.modal-textarea-container > .modal-textarea {
    outline: none;
}
.monomodal-mono-edit-text {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

.btn-group.btn-group-sm>.btn.toolbar-btn, .btn.toolbar-btn {
    padding: 0.15rem 0.5rem;
    height: 31px;
}

.btn.toolbar-btn.btn-outline-primary:active {
    border-color: #003c8f;
    background-color: #003c8f;
}

ul.dropdown-menu a.dropdown-item {
    cursor: pointer;
}
