.text-input-layout {
    display: flex;
    align-items: center;
    padding: 1px 2px 1px 8px;

    border: 1px solid transparent;
    border-radius: 2px;

    &:hover {
        outline: 1px solid var(--text-input-border-color);
    }

    &:focus-within {
        outline: 2px solid var(--text-input-border-focus-color);
    }

    .text-input-label {
        font-size: 12px;
        font-weight: 300;
        user-select: none;
        color: var(--text-input-label-color);
    }

    .text-input {
        height: 24px;
        width: 100%;
        margin-left: 12px;
        border: none;
        color: var(--text-input-value-color);
        background: transparent;
        font-size: 12px;

        &:focus,
        &:active {
            outline: none;
        }
    }

    &.child-bounds {
        &:hover {
            outline: none;
        }

        &:focus-within {
            outline: none;
        }

        .text-input {
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 2px;

            &:hover {
                outline: 1px solid var(--text-input-border-color);
            }

            &:focus-within {
                outline: 2px solid var(--text-input-border-focus-color);
            }
        }
    }

    // Hide up-down arrows
    .text-input[type='number'] {
        // Firefox
        -moz-appearance: textfield;

        // Webkit browsers like Safari, Chrome, etc.
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
