@import 'variables';

$sharp-tool-width: 270px;

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $uiTextFont;
}

#main-nav {
    position: fixed;
    height: $nav-height;
    left: 0;
    right: 0;
    top: 0;
}

#shape-tools {
    position: fixed;
    width: $sharp-tool-width;
    top: $nav-height;
    bottom: 0;
    right: 0;
}

#workspace {
    position: fixed;
    top: $nav-height;
    left: 0;
    right: 0;
    bottom: 0;

    background: var(--workspace-bg-color);
}