@import 'variables';

$tooltip-background-color: var(--tooltip-bg);
$tooltip-color: var(--tooltip-color);

.mono-tooltip {
    position: fixed;
    z-index: $tooltip-zindex;

    &.tooltip-arrow {
        color: $tooltip-background-color;
        display: flex;
    }

    &.tooltip-body {
        background: $tooltip-background-color;
        color: $tooltip-color;
        padding: 2px 8px 1px;
        border-radius: 4px;
        font-size: 11px;
        font-family: $monospaceFont;
    }
}
