// Font
$monospaceFont: 'Jetbrains Mono', Menlo, 'Courier New', Courier, monospace;
$uiTextFont: 'Roboto', Arial, serif;

// Size
$nav-height: 48px;

$canvas-left: 33px;
$canvas-top: 18px;

// Index
$keyboard-shortcuts-zindex: 200;
$export-text-zindex: 201;
$edit-text-zindex: 202;
$dropdown-menu-zindex: 203;
$tooltip-zindex: 204;
$rename-project-modal-zindex: 205;
$all-projects-modal-zindex: 500;
$remove-project-modal-zindex: 501;
