@import '../variables';

%common-modal-container-position {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

%common-modal-container-color {
    background: var(--modal-container-bg);
    color: var(--modal-content-color);
}

%common-modal-title {
    margin: 16px 0 20px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    font-family: $monospaceFont;
    color: var(--modal-title-color);
}

%common-modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
    color: var(--modal-close-button-color);
    vertical-align: middle;
    line-height: 16px;
}
