@import '../variables';

$divider-color: var(--mainmenu-divider-color);
$background-color: var(--modal-container-bg);

.drop-down-menu {
    min-width: 180px;
    z-index: $dropdown-menu-zindex;
    background: $background-color;
    border-radius: 6px;
    border: 1px solid $divider-color;
    padding: 6px 0;
    position: fixed;
    font-family: $monospaceFont;

    .hidden-input {
        position: absolute;
        width: 1px;
        height: 1px;
        left: -100000px;
    }

    .drop-down-divider {
        border-top: 1px solid $divider-color;
        margin: 8px 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .drop-down-item {
        padding: 5px 8px 5px 16px;
        margin: 0;
        cursor: pointer;
        overflow: hidden;
        color: var(--mainmenu-item-color);
        white-space: nowrap;
        font-size: 14px;
        line-height: 21px;

        &:hover {
            background: var(--mainmenu-item-hover-bg);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .action-font-size-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .action-font-size {
            width: 50%;
            height: 28px;
            flex-grow: 0;
            flex-shrink: 0;
            padding-bottom: 2px;
            margin-bottom: 2px;
            color: var(--mainmenu-item-color);
            user-select: none;

            display: flex;
            align-items: last baseline;
            justify-content: center;

            cursor: pointer;
            &:hover {
                background: var(--mainmenu-item-hover-bg);   
            }

            &.increase {
                font-size: 18px;
            }

            &.decrease {
                font-size: 14px;
            }

            
        }
    }
}
