@import '../variables';
@import '../commons';

@import 'commons';

.export-text {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $export-text-zindex;

    .background {
        background: var(--modal-background-bg);
        width: 100%;
        height: 100%;
    }

    &__close {
        @extend %common-modal-close-button;
    }

    &__copy {
        @extend %common-button;

        position: absolute;
        left: 8px;
        bottom: 4px;
        padding: 8px;
        color: rgba(0, 0, 0, 0.3);


        &:hover {
            color: rgba(0, 0, 0, 0.6);
        }

        &:active {
            color: rgba(0, 0, 0, 0.4);
        }
    }

    .export-text__modal {
        @extend %common-modal-container-position;

        display: flex;
        flex-direction: column;
        top: 100px;
        background: var(--exporttext-container-bg);

        .export-text__title {
            @extend %common-modal-title;

            display: block;
            width: 100%;
        }
    }

    .export-text__content {
        height: calc(100% - 24px - 16px - 20px);
        color: var(--exporttext-content-color);

        pre {
            width: 100%;
            height: 100%;
            padding: 32px 32px 64px;
            margin: 0;
            font-size: 13px;
            line-height: 18px;
            outline: none;
            overflow: scroll;
            font-family: $monospaceFont;
        }
    }
}

@import '../animation';
$animation-duration-sec: 0.3s;

// Animation
.export-text {
    &.in {
        & .background {
            animation: fadeIn $animation-duration-sec;
        }

        & .export-text__modal {
            animation: moveIn $animation-duration-sec, fadeIn $animation-duration-sec;
        }
    }

    &.out {
        & .background {
            animation: fadeOut $animation-duration-sec;
        }

        & .export-text__modal {
            animation: moveOut $animation-duration-sec, fadeOut $animation-duration-sec;
        }
    }
}
