$modal-bg: var(--modal-background-bg);
$modal-container-bg: var(--modal-container-bg);
$modal-container-border-color: var(--mainmenu-divider-color);
$modal-content-text-color: var(--modal-content-color);
$modal-text-field-border: var(--text-input-border-color);
$modal-text-field-focus-border: var(--text-input-border-focus-color);
$modal-text-field-color: var(--text-input-value-color);
$modal-indicator-color: var(--shapetool-indicator-color);
$modal-item-hover-bg: var(--mainmenu-item-hover-bg);
$modal-item-action-hover-bg: var(--mainmenu-item-action-hover-bg);
$modal-item-danger-bg: var(--modal-item-danger-bg);
