name: Unit test
on: [push]
jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: ./gradlew test
      - name: Publish Unit test result
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-result
          path: build/reports/tests/
